#qui-sommes-nous {
    background-color: mediumpurple;
}

#nos-missions {
    background-color: #6FBB75;
    font-size: 2em;
}

.surligner-purple {
    color: #38623C;
    font-weight: bold;
}

#section-co-presidentes {
    background-color: #C1D67E;
}

#co-presidentes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 100px
}


.bloc-co-presidente {
    background-color: white;
    color: black;
    border-style: groove;
    border-radius: 32px;
    width: 20%;
    min-width: 250px;
    margin: 16px 64px
}

.bloc-co-presidente > p {
    margin: 1em;
}

.img-copresidentes {
    border-radius: 32px 32px 0 0;
    width: 100%;
    border-bottom-style: solid;
}