/*header*/

#banner {
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    padding:1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding-left: 1.5cm;
    font-size: 18px;
}

li a {
    color: black;
}

.images-container {
    display: flex;
    gap: 10px;
}

.images-container img {
    width: 60px;
    height: auto;
}
section {
    color: white;
}

/*Premiere section: partie bleue*/

#home {
    display: flex;

    padding: 7.3%;
    background-color: dodgerblue;
    align-items: center;
    justify-content: space-around;
    
}

#home p {
    padding-top: 1cm;
    font-weight: bold;
    padding-bottom: 1cm;

}

#home div {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

#contact {
    background-color: limegreen;
    color: white;
    width: 70%;
    height: 72px;
    border-radius: 10px;

}

/*Presentation: partie violette*/
#presentation {
    background-color: mediumpurple;
}

#presentation h1{
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

#presentation p {
    padding-top: 2cm;
    font-weight: bold;
    text-align: center;
    font-family: 'Miadmi One', sans-serif;
    font-size: large;
}

.img-col {
    max-width: 40%;
    height: auto;
}

#missions {
    padding-top: 1.5cm ;
    padding-bottom: 1.5cm;
}

.surligner {
    color: darkblue;
    font-weight: bold;
}

/*Engagement: Partie orange*/

#engagement {
    background-color: #F4C194;
}

#engagement h1{
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

#engagement p {
    padding-top: 2cm;
    font-weight: bold;
    text-align: center;
    font-family: 'Miadmi One', sans-serif;
    font-size: large;
}

#bouton_engagement {
    padding-top: 1.5cm ;
    padding-bottom: 1.5cm;
} 

.bouton_rond {
    background-color: white;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%; 


}

.bouton_rond:hover {
    background-color: lightgrey;
  }

.bouton_rond img {
    width: 60%; /* Ajuster la taille de l'image */
    height: auto; /* Conserver le ratio de l'image */
}


/*L'actualité*/

#actualite {
    background-color: #F49494;
}

#actualite h1{
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

#actuialite p {
    padding-top: 2cm;
    font-weight: bold;
    text-align: center;
    font-family: 'Miadmi One', sans-serif;
    font-size: large;
}

#actus  {
    padding-bottom: 2cm;
}


/*Footer*/

.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  
@media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
}

.item2{
    padding-top: 1.5cm;
}

/* Qui-sommes-nous */

/* Partie violette */

main section:first-of-type {
    padding-top: 5%;
}

h1 {
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

#qui-sommes-nous {
    background-color: mediumpurple;
}

#qui-sommes-nous > p {
    margin:0;
    padding-left:15%;
    padding-right:15%;
    padding-bottom: 5%;
    font-size: 1.7em;
}

#nos-missions {
    background-color: #6FBB75;
    font-size: 2em;
}

.surligner-green {
    color: #38623C;
    font-weight: bold;
}

#section-co-presidentes {
    background-color: #C1D67E;
}



.bloc-co-presidente {
    background-color: white;
    color: black;
    border-style: groove;
    border-radius: 2em;
    max-width: 30%;
}

.bloc-co-presidente > p {
    margin: 1em;
}

.img-copresidentes {
    border-radius: 2em;
    width: 100%;
}