/*header*/

header {
    position: fixed;
}

#banner {
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
}


#banner > nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

#banner > nav ul li {
    padding-left: 1.5cm;
    font-size: 18px;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: inherit;
}

.images-container {
    display: flex;
    gap: 10px;
}

.images-container img {
    width: 60px;
    height: auto;
}

section {
    color: white;
}

#barre_info {
    height: 40px;
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#barre_info > p {
    margin: 0;
    padding-left: 16px;
    text-align: center;
    flex: auto;
    color:white;
}

#close_barre_info {
    cursor: pointer;
    padding-right: 16px;
    padding-bottom: 4px;
    font-size: 2em;
    color: whitesmoke;
}

/*Premiere section: partie bleue*/

#home {
    display: flex;

    padding: 7.3%;
    background-color: dodgerblue;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap-reverse;
    
}

#home p {
    padding-top: 1cm;
    font-weight: bold;
    padding-bottom: 1cm;

}

#home div {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 512px;
}

#home img {

}

#button_contact {
    background-color: limegreen;
    color: white;
    width: 70%;
    height: 72px;
    border-radius: 10px;

}

/*Presentation: partie violette*/
#presentation {
    background-color: mediumpurple;
}

#presentation h1{
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

#presentation p {
    padding-top: 2cm;
    font-weight: bold;
    text-align: center;
    font-family: 'Miadmi One', sans-serif;
    font-size: large;
}

.img-col {
    max-width: 40%;
    height: auto;
}

#missions {
    padding-top: 1.5cm ;
    padding-bottom: 1.5cm;
}

.surligner {
    color: darkblue;
    font-weight: bold;
}

/*Engagement: Partie orange*/

#engagement {
    background-color: #F4C194;
}

#engagement h1{
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

#engagement p {
    padding-top: 2cm;
    font-weight: bold;
    text-align: center;
    font-family: 'Miadmi One', sans-serif;
    font-size: large;
}

#bouton_engagement {
    padding-top: 1.5cm ;
    padding-bottom: 1.5cm;
} 

.bouton_rond {
    background-color: white;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%; 


}

.bouton_rond:hover {
    background-color: lightgrey;
  }

.bouton_rond img {
    width: 60%; /* Ajuster la taille de l'image */
    height: auto; /* Conserver le ratio de l'image */
}


/*L'actualité*/

#actualite {
    background-color: #F49494;
}

#actualite h1{
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

#actuialite p {
    padding-top: 2cm;
    font-weight: bold;
    text-align: center;
    font-family: 'Miadmi One', sans-serif;
    font-size: large;
}

#actus  {
    padding-bottom: 2cm;
}


/*Footer*/

.footer-clean {
    padding:48px;
    background-color:#5A6A94;
    color:white;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  
@media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
}


/* Qui-sommes-nous */

/* Partie violette */

main section:first-of-type {
    padding-top: 160px;
}

.title {
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}
