/*header*/

header {
    position: fixed;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3)
}

/* Logo France Dépression */

#banner > a {
    margin-left: 100px;
}

#banner > a > img {
    height: 128px;
}

/* Flexbox avec le logo + navbar ou menu hamburger pour petit écran */
#banner {
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

nav, #buttonMenu {
    margin-right: 100px;
}

nav > ul {
    margin: 0;
    display: flex;
    align-items: center;
}

nav > ul > li > a {
    padding: 52px 16px;
}

ul {
    padding : 0;
    list-style-type: none;
}

li a {
    color: black;
    text-decoration: none;
}

#button-association, #button-association-mobile {
    cursor: pointer;
}

#button-association:hover, #button-association-mobile:hover, li a:hover {
    text-decoration: none;
    color: darkblue;
}

#separateur {
    padding: 0;
    margin: auto 17px;
    display: inline-block;
    height: 24px;
    width: 1px;
    background-color: black;
}

.social-media-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media-container:first-child {
    margin-left: 10px;
}

.social-media-container img {
    width: 32px;
}

#buttonMenu {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg);
    background-color: inherit;
    border: inherit;
    cursor: inherit;
}

#menu-association {
    left: inherit;
    margin-top: 2.6em;
}

.menu {
    width: 200px;
    display: none;
    position: absolute;
    background-color: white;
}

.menu ul {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.menu li {
    padding: 0;
}

.menu a {
    display: block;
    color: black;
    padding: 20px;
    transition: background-color 0.3s;
}

#menumobile {
    top: 64px;
    right: 0;
}

#menu-association-mobile {
    right: 200px;
    top: 0;


}


#menumobile .social-media-container > a {
    padding: 20px 34px;
}

.menu a:hover {
    background-color: whitesmoke;
}

section {
    color: white;
}

#barre_info {
    height: 40px;
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 500;
}

#barre_info > p {
    margin: 0;
    padding-left: 16px;
    text-align: center;
    flex: auto;
    color:white;
}

#close_barre_info {
    cursor: pointer;
    padding-right: 16px;
    padding-bottom: 4px;
    font-size: 2em;
    color: whitesmoke;
}


.icon  {
    max-width: 100px;
    transition: scale 0.3s;
}

.icon:hover {
    scale: 110%;
}

.bloc_mission {
    min-width: 250px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px;
}

.surligner {
    color: darkblue;
    font-weight: bold;
}

.footer-clean {
    padding:48px;
    background-color:#5A6A94;
    color:white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 20%;
}

.footer-clean h3 a {
    text-decoration: none;
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color: white;
}

.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-clean ul a:hover {
    opacity:1;
}

footer > img {
    width: 7%;
    height: 7%;
}

@media (max-width: 800px) {
    span{
        flex-direction: column;
    }
    .secondaire{
        display: none;
        width: 0;
    }
    footer > img {
        width: 20%;
        height: 20%;
    }

}

#missions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 100px
}

#missions-container p {
    font-size: 24px;
    margin: 25px 0;
}

main section:first-of-type {
    padding-top: 168px;
}

h2 {
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    text-align: center;
}

.regular-text {
    margin:0;
    padding: 0 15% 5% 15%;
    font-size: 24px;
}